<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD9BnyVhmX8KfpTSuQqNpiD3W315oD3Sqk</string>
	<key>GCM_SENDER_ID</key>
	<string>680625702293</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tax</string>
	<key>PROJECT_ID</key>
	<string>taxdec-cab5f</string>
	<key>STORAGE_BUCKET</key>
	<string>taxdec-cab5f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:680625702293:ios:f8f4a284ce6bd81210229c</string>
</dict>
</plist>